@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #383e45;
  font-size: 1rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 0px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;

  .container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 10px;
  }
} /* 見出し */

.sub-title {
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px rgb(167, 243, 179) solid;
  font-weight: normal;
}

/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}
#header li a:hover {
  opacity: 0.7;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: scale-down;
}

/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  text-align: left;
}

/*-------------------------------------------
Bicycle
-------------------------------------------*/
#bicycle ul {
  display: flex;
  justify-content: space-between;
}
#bicycle li {
  width: 32%;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 600px) {
  /*-------------------------------------------
  Mainvisual
  -------------------------------------------*/
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  /*-------------------------------------------
  About
  -------------------------------------------*/
  #about .content {
    flex-direction: column;
  }
  #about img {
    margin-right: 0;
  }

  /*-------------------------------------------
  Bicycle
  -------------------------------------------*/
  #bicycle ul {
    flex-direction: column;
  }
  #bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
} /*-------------------------------------------
  footer
  -------------------------------------------*/
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 64%;
  justify-content: center;
}
/* 店舗情報・地図 */
#location {
  padding: 4% 0;
}
#location .wrapper {
  display: flex;
  justify-content: space-between;
}
.location-info {
  width: 22%;
}
.location-info p {
  padding: 12px 10px;
}
.location-map {
  width: 74%;
}
/*iframe*/
iframe {
  width: 100%;
}

/* SNS */
#sns {
  background: #faf7f0;
  padding: 4% 0;
}
#sns .wrapper {
  display: flex;
  justify-content: space-between;
}
#sns .sub-title {
  margin-bottom: 30px;
}
.sns-box {
  width: 30%;
  margin: 10px;
}

/* フッター
------------------------------- */
footer {
  background: #432;
  text-align: center;
  padding: 26px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}
/* モバイル版
------------------------------- */
@media (max-width: 600px) {
}
.page-title {
  font-size: 2rem;
}
.page-header {
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.main-nav {
  font-size: 1rem;
  margin-top: 5px;
}
.main-nav li {
  margin: 0 10px;
}

/* HOME */
.home-content {
  margin-top: 10%;
}
#mainvisual img {
  /* NEWS */
  .news-contents {
    flex-direction: column;
  }
  #news .page-title {
    margin-top: 0px;
  }
  article,
  aside {
    width: 100%;
  }
  aside {
    margin-top: 60px;
  }
  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-date span {
    font-size: 0.875rem;
    padding-top: 2px;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }

  /* MENU */
  .menu-content {
    margin-top: 10%;
  }

  /* CONTACT */
  #contact .page-title {
    margin-top: 40px;
  }

  /* フォーム */
  input[type="text"],
  input[type="email"],
  textarea {
    max-width: 100%;
  }

  /* 店舗情報・地図 / SNS */
  #location .wrapper,
  #sns .wrapper {
    flex-direction: column;
  }
  .location-info,
  .location-map,
  .sns-box {
    width: 100%;
  }
  .sns-box {
    margin-bottom: 10px;
    margin: 0%;
  }
}
